@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,200&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body{
  color: #fff !important;
  margin: 0;
}

* { box-sizing: border-box; }

html, body, #app {
  height: 100%;
}
